In [3]:
import pandas as pd

Order tuples:

(id, descriptor)

descriptor string: f"{store} {date} {completion}"

In [49]:
orders_df = pd.read_csv("../database/orders.csv", index_col="ID")
orders_df

      Author StoreName  Public   OrderDate
ID
1       Josh   Wegmans    True  10-10-2023
2   Khanh Le    Target    True  10-12-2023
3       John   Wegmans    True  23-10-2023

In [50]:
stores_df = pd.read_csv("../database/stores.csv", index_col="StoreName")
stores_df

                   MinOrder  MinOrderFee  Deliverable  DeliveryFee
StoreName
Wegmans                  35            8         True            0
Walmart                  35            7         True            0
Target                   -1           -1         True           10
Asian Food Market        -1           -1        False           -1

In [52]:
items_df = pd.read_csv("../database/items.csv", index_col="ID")
items_df

        User       Name  Price  Quantity  OrderID
ID
1       Josh     Carrot      3         4        1
2       Josh      Chips      2         1        1
3       Luna     Carrot      3         2        1
4       Luna     Matcha     10         1        1
5      Jared     Carrot      3         1        1
6       Luna       Fish     11         1        1
7   Khanh Le  Detergent      7         2        2
8   Khanh Le      Knife      2         1        2
9       John       Book      4        10        3

In [53]:
# orders_df[orders_df["StoreName"] == "Wegmans"]
# df["Total"] = df["Price"]*df["Quantity"]
# orders_df["Min_order"] = stores_df["MinOrder"]["Wegmans"]
# orders_df["Total"] = df.groupby('OrderID').sum()["Total"]
# orders_df["Percentage"] = orders_df["Total"]/orders_df["Min_order"]*100
# orders_df["Completion"] = orders_df["Percentage"].apply(lambda x: 100 if x > 100 else x)
# orders_df

In [77]:
def sort_by_date_store(store):
    orders = orders_df
    orders = orders[orders["StoreName"] == store]
    items = items_df
    items["Total"] = items["Price"]*items["Quantity"]
    orders["MinOrder"] = stores_df["MinOrder"][store]
    orders["Total"] = items.groupby('OrderID').sum()["Total"]
    orders["Percentage"] = [total/minOrder*100 if minOrder > 0 else 100 for total, minOrder in zip(orders["Total"],orders["MinOrder"])]
    orders["Completion"] = orders["Percentage"].apply(lambda x: 100 if x > 100 else x)
    orders["Descriptor"] = [f"{date} - {int(comp)}%" for date, comp in zip(orders["OrderDate"], orders["Completion"])]
    # orders.apply(lambda x: f"{x['OrderDate']} {x['Completion']}%")
    return [(id, desc) for id, desc in zip(orders.index, orders["Descriptor"])]

def sort_by_date(orders, stores):
    for store in stores:
        sort_by_date_store(df, store)

In [78]:
sort_by_date_store("Target")

C:\Users\lunat\AppData\Local\Temp\ipykernel_34052\3339939327.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orders["MinOrder"] = stores_df["MinOrder"][store]
C:\Users\lunat\AppData\Local\Temp\ipykernel_34052\3339939327.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orders["Total"] = items.groupby('OrderID').sum()["Total"]
C:\Users\lunat\AppData\Local\Temp\ipykernel_34052\3339939327.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orders["Percentage"] = [total/minOrder*100 if minOrder > 0 else 100 for total, minOrder in zip(orders["Total"],orders["MinOrder"])]
C:\Users\lunat\AppData\Local\Temp\ipykernel_34052\3339939327.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orders["Completion"] = orders["Percentage"].apply(lambda x: 100 if x > 100 else x)
C:\Users\lunat\AppData\Local\Temp\ipykernel_34052\3339939327.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  orders["Descriptor"] = [f"{date} - {int(comp)}%" for date, comp in zip(orders["OrderDate"], orders["Completion"])]

[(2, '10-12-2023 - 100%')]

In [79]:
orders_df.index[-1]

3

In [82]:
def get_order_total(order_id):
    this_order = items_df[items_df["OrderID"] == order_id]
    this_order["Total"] = this_order["Price"]*this_order["Quantity"]

    return sum(this_order["Total"])

In [83]:
get_order_total(3)

C:\Users\lunat\AppData\Local\Temp\ipykernel_34052\312595069.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  this_order["Total"] = this_order["Price"]*this_order["Quantity"]

40

In [85]:
stores_df.loc["Walmart"]["MinOrder"]

35

In [87]:
"Wegmans" in list(orders_df["StoreName"])

True

In [90]:
a = ["a", "b", "c", "d"]
a.index("b")

1